


<!DOCTYPE html>
<html>
<head>
    <title>Task-2</title>
	<link href="static/style.css" rel='stylesheet' type='text/css'>
    
</head>

<body>
<nav id="ddmenu">
<ul>
	<li class="no-sub">
            <a class="top-heading" href="http://127.0.0.1:5000/">HOME</a>
       
		</li>
		<li class="no-sub">
            <a class="top-heading" href="http://127.0.0.1:5000/search">Task 1</a>
       
		</li>
		<li class="no-sub">
            <a class="top-heading" href="http://127.0.0.1:5000/uploadfile">Task 2</a>
       
		</li>
		<li class="no-sub">
            <a class="top-heading" href="http://127.0.0.1:5000/bot">Task 3</a>
       
		</li>
		</ul>
		</nav>
	




	  <form  action = "http://localhost:5000/task2" method="POST" enctype = "multipart/form-data">
	
	<input class="form-wrapper cf" type="file" name = "file" style="width:165px;color: white" >
	<button class="myButton" style="padding: 5px 32px;margin: 0 5px;" type="submit">Submit</button></input>
	
</form>


</body>
</html>